*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    gap: 160px;
    background-image: url(./img/pokemonrosa.png);
    background-size: cover;
}
.card{
    background-color: #ffffff;
    width: 260px;
    height: 380px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaaaa;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
.card img{
    height: 180px;
    width: 240px;
    border-radius: 12px 12px 0 0;
}
.card h1{
    font-size: 36px;
    color: #aaaaaa;
}
.card h2{
    font-size: 16px;
    color: #525151;
}
.card button{
    height: 30px;
    border: none;
    padding: 4px;
    width: 88%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
}
.b1{
    background-color: #f37aed;
}
.b2{
    background-color: #9a50bd;
}
.b3{
    background-color: #50bd7d;
}

@media (max-width:800px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        gap: 160px;
        background-image: url(./img/pokemonrosa.png);
        background-size: cover;
    }
}

